/* Generic Styles */
.header, .content, .footer {
	text-align: center;
}

body {
	background-color: #EFEFEF;
	margin: 0px;
}

header {
	padding: 0px;
	margin: 0px;
	background-color: #1A5653;
	color: #EFEFEF;
}

footer {
	clear: both;
	height: auto;
	background-color: #1A5653;
	color: #EFEFEF;
	padding-bottom: 1%;
}

/* Buyers Offer Page */
.flex_container {
    display: flex;
	flex-wrap: nowrap;
}

.column_content {
    float: left;
    width: 33%;
    padding: 15px;
}

@media all and (max-width: 650px) {
	.flex_container {
		flex-direction: column;
    }
    
    .column_content {
        float: none;
        width: 100%;
	}
}

input[type=button], input[type=submit], button {
	font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
	font-weight: bold;
	background-color: #45a049;
}


/* Buyers Offer Form */
.buyers_offer_form {
	font-size: 14pt;
	color: black;
}

.page, #id_down_payment, #id_down_payment_label {
    display: none;
}

ul {
    list-style-type: none;
}

input[type=text], input[type=email], input[type=number] {
	color: black;
	width: 35%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}