/* Generic Styles */
.header, .content, .footer {
	text-align: center;
}

.login {
	font-weight: bold;
	text-align: right;
	margin-right: 1%;
}

#header {
	color: #EFEFEF;
	text-decoration: none;
}

body {
	background-color: #EFEFEF;
	margin: 0px;
}

header {
	padding: 0px;
	margin: 0px;
	background-color: #1A5653;
	color: #EFEFEF;
}

footer {
	clear: both;
	height: auto;
	background-color: #1A5653;
	color: #EFEFEF;
	padding-bottom: 1%;
}

/* Buyers Offer Page */
.flex_container {
    display: flex;
	flex-wrap: nowrap;
}

.column_content {
    float: left;
    width: 33%;
    padding: 15px;
}

@media all and (max-width: 650px) {
	.flex_container {
		flex-direction: column;
    }
    
    .column_content {
        float: none;
        width: 100%;
	}
}

input[type=button], input[type=submit], button {
	font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
	font-weight: bold;
	background-color: #45a049;
}


/* Buyers Offer Form */
.buyers_offer_form {
	font-size: 14pt;
	color: black;
}

.custom_table {
	margin-left: auto;
	margin-right: auto;
}

.page, #cash_offer, #loan_offer, #id_escrow_date, #id_escrow_days, #buyer_agent, #seller_agent, #fund_verification_other, #id_fund_verification_other, #second_loan, #first_loan_type_other, #id_first_loan_type_other, #second_loan_type_other, #id_second_loan_type_other, #id_deposit_payment_type_other, #deposit_payment, #id_deposit_due_other, #deposit_due, #appraisal_contingency, #id_appraisal_contingency_days, #loan_contingency, #id_loan_contingency_days, #natural_hazard, #buyer_possession_1_content, #buyer_possession_2_content, #buyer_possession_3_content, #option_1_content, #option_2_content, #remove_contingency, #counter_offer, #remove_appraisal_contingence, #remove_inspection_contingence, #loan_qualification_proofs, #id_addenda_name_1, #id_addenda_name_2, #id_addenda_name_3 {
    display: none;
}

#escrow_date, #escrow_days, #buyer_possession_1, #buyer_possession_2, #buyer_possession_3, #option_1, #option_2, #navigation_button_1, #navigation_button_2, #navigation_button_3, #navigation_button_4, #navigation_button_5, #signature_button_1, #signature_button_2, #addenda_name_1, #addenda_name_2, #addenda_name_3 {
	background-color: #808080;
}

#escrow_date:hover, #escrow_days:hover, #buyer_possession_1:hover, #buyer_possession_2:hover, #buyer_possession_3:hover, #option_1:hover, #option_2:hover, #navigation_button_1:hover, #navigation_button_2:hover, #navigation_button_3:hover, #navigation_button_4:hover, #navigation_button_5:hover, #signature_button_1:hover, #signature_button_2:hover, #addenda_name_1:hover, #addenda_name_2:hover, #addenda_name_3:hover {
	background-color: #888888;
}

ul {
    list-style-type: none;
}

input[type=text], input[type=email], input[type=number] {
	color: black;
	width: 35%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=checkbox], input[type=radiobutton] {
    zoom: 1.5;
}