{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h2>Thank you for submitting the information</h2>
    <p>We will contact the seller shortly with your offer details</p>

    <p>
        Download the purchase agreement for your reference and move to next steps<br>
        <a href="{% static 'pdf/purchase_agreement_filled.pdf' %}" download>
            <button>Download</button>
        </a>
        <a href="{% url 'form' %}">
            <button>Next</button>
        </a>
    </p>
{% endblock %}