{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h2>Move to next steps</h2>

    <p>
        You can download the purchase agreement for your reference and then move to next steps<br>
        <a href="{% static pdf_path %}" download>
            <button>Download</button>
        </a><br><br>
        <a href="{% url 'offerform3' %}">
            <button>Next</button>
        </a>
        <a href="{% url 'offerformnavigate' %}">
            <button>Navigate</button>
        </a>
    </p>
{% endblock %}